{% extends "base.html" %}
{% block content %}

<div class="container mt-4">

    <!-- Header -->
 <div class="d-flex justify-content-between align-items-center mb-3">
    <!-- Left: Back arrow + Title -->
    <div class="d-flex align-items-center">
        <!-- Back Arrow -->
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" 
            viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" 
            stroke-linecap="round" stroke-linejoin="round" 
            class="lucide lucide-circle-arrow-left-icon me-2" 
            style="cursor: pointer;"
            onclick="history.back()">
            <circle cx="12" cy="12" r="10"/>
            <path d="m12 8-4 4 4 4"/>
            <path d="M16 12H8"/>
        </svg>

        <!-- Title -->
        <h4 class="fw-bold mb-0">Laboratory Rooms</h4>
    </div>

    <!-- Right: Add Lab Button -->
    <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addLabModal">
        + Add Lab
    </button>
</div>


    <!-- Search Bar -->
    <div class="card shadow-sm mb-3">
        <div class="card-body">
            <input type="text" class="form-control" placeholder="Search laboratory...">
        </div>
    </div>


    <!-- Laboratory List -->
    <div class="card shadow-sm">
        <div class="list-group list-group-flush">

            {% for room in rooms %}

            <div class="list-group-item d-flex justify-content-between align-items-center">

                <div class="d-flex align-items-center">

                    <span class="badge bg-secondary me-3">
                        {{ forloop.counter }}
                    </span>

                <div>
                    <h6 class="mb-0 fw-bold">{{ room.room_name }}</h6>
                    <small class="text-muted">{{ room.location }}</small>
                </div>

            </div>

            <div>
                <a href="{% url 'room' room.id %}" class="btn btn-sm btn-outline-primary me-2">
                    View
                </a>

                <button class="btn btn-sm btn-outline-danger delete-btn" data-room-id="{{ room.id }}" data-bs-toggle="modal" data-bs-target="#deleteLabModal">
                    Delete
                </button>
            </div>

        </div>

        {% empty %}

        <div class="list-group-item text-center text-muted">
            No laboratory rooms found.
        </div>

        {% endfor %}

        
</div>


{% include "pagination.html" with page_obj=rooms %}
</div>
{% include "modal/lab_modal.html" %}

{% endblock %}
